[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = youtube.demo
[access "refs/*"]
	owner = group user/chprab
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/chprab
	label-Verified = -1..+1 group user/chprab
	push = group user/chprab
	read = group user/chprab
	rebase = group user/chprab
	removeReviewer = group user/chprab
	submit = group user/chprab
[access "refs/heads/*"]
	create = group user/chprab
	push = +force group user/chprab
	pushMerge = group user/chprab
	read = group user/chprab
[access "refs/tags/*"]
	push = group user/chprab
	push = +force group user/chprab
